/*fonts*/
$pragmatica-light: 'Pragmatica-light', serif;
$pragmatica-medium: 'Pragmatica-medium', serif;
$pragmatica-book: 'Pragmatica', serif;
$commons-bold: 'TT Commons Bold', serif;
$commons-demibold: 'TT Commons DemiBold', serif;
$commons-medium: 'TT Commons Medium', serif;
$commons-regular: 'TT Commons Regular', serif;

/*colors*/

$color-black: #333333;
$color-white: #FFF;
$color-fiolet: #7E779A;
$color-gradient:  linear-gradient(147deg, #3f0f72 0%, #791281 100%);
$color-bg:#F6F4F9;
$color-grey:#777777;
